.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px  5px  5px grey;
    background-image: linear-gradient(lightblue, rgb(44, 126, 250),darkblue);
}
.heading_div
{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px  5px  7px grey;
}
.heading_div2
{
    font-size: 18px;
}
.result_para_tag
{
    box-shadow: 5px 5px 4px rgb(202, 167, 77);
    text-align: center;
    font-size: large;
    padding-top: 20px;
}
canvas 
{ 
    border:5px solid white; 
    border-radius:20px; 
    box-shadow:5px 5px 5px grey; 
    margin-top: 150px; 
}

